/*pj ellis - module 10 - csd 360 - css code*/

body {
    background-color: white;
    font-family: Verdana, Arial, sans-serif;
}

.container {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

.display, .ending {
    text-align: center;
    width: 750px;
}

h4 {
    color: green;
}

.title, .endtitle {
    width: 760px;
    background-color: #043b04;
    color: #fff;
    border: 1px solid #D6A800;
    padding: 10px;
}

#playGame {
    width: 760px;
    margin: 10px;
    display: block;
}

button {
    padding: 10px;
    margin: 10px;
    font-size:medium;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(214, 217, 219);
    box-shadow: 5px 5px 5px grey;
}

#playGameButton {
    font-size: large;
    background-color:grey;
    color: white;
    box-shadow: 5px 5px 5px black;
}

#game {
    display: none;
}

#ans1, #ans2, #ans3, #ans4 {
    display: none;
}

.columns {
    display: grid;
    grid-template-columns: 390px 390px;
}

.cards {
    text-align: center;
    border: 2px solid black;
    background-color: rgb(214, 217, 219);
    box-shadow: 10px 10px 10px grey;
    border-radius: 15px;           
    padding: 10px;
    transition: 0.3s;
    margin: 10px;
    overflow: hidden;
}

a:link, a:visited {
    color: white;
    text-decoration: none;
}